div.row
    div.container-fluid
        div.pie
            div.col-xs-12.col-sm-4.col-md-4.col-lg-4
                h3 Contacto
                a(href="")
                    p.divider_color
                        i.fas.fa-map-marker-alt Av. Las Condes #12498, Lo Barnechea.
                a(href="")
                    p.divider_color
                        i.fas.fa-map-marker-alt Av. Las Condes #12498, Lo Barnechea.
                a(href="")
                    p.divider_color
                        i.fas.fa-phone +562 2955 2525
                a(href="")
                    p.divider_color
                        i.fas.fa-envelope-open ventas@vlc.cl
                a(href="")
                    p.divider_color
                        i.fab.fa-facebook-f VidrieriaLasCondes
            div.col-xs-12.col-sm-4.col-md-4.col-lg-4
                div.piecenter
                    h3 Trabajamos con las mejores marcas
                    span
                        img(src="public/img/kommerling-logo.png" alt="")
                    span
                        img(src="public/img/GU-logo.png" alt="")
                    span
                        img(src="public/img/lirquen-logo.png" alt="")
            div.col-xs-12.col-sm-4.col-md-4.col-lg-4
                div.pieright
                    h3 Con el respaldo
                    span
                        img(src="public/img/unnamed.png" alt="")
div(class="dark_primary_color text_icons" style="text-align: center;")
    div(class="copy" style="padding-bottom:15px;")
        p(style="padding-top:25px;") Otro sitio
            a(href="" class="text_icons")
                strong webfriends
