extends layout
block content
    div.bg-contact
        div.content-contact.tittle-contact
            h2.text_icons Portafolio
    div.back       
        div.row
            div.container-fluid
                div.servicios
                    div.col-xs-12.col-sm-4.col-md-4.col-lg-4
                        div.thumbnail-img
                            img(src="../public/img/product-03.jpg", alt="" class="img-responsive")  
                            h4
                                a(class="divider_color" href="") FABRICACION  
                    div.col-xs-12.col-sm-4.col-md-4.col-lg-4 
                        div.thumbnail-img 
                            img(src="../public/img/product-02.jpg", alt="" class="img-responsive")
                            h4
                                a(class="divider_color" href="") FABRICACION    
                    div.col-xs-12.col-sm-4.col-md-4.col-lg-4 
                        div.thumbnail-img 
                            img(src="../public/img/product-03.jpg", alt="" class="img-responsive") 
                            h4 
                                a(class="divider_color" href="") FABRICACION  

 


