<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Kenyuri Camino  "Querer es Poder"
        link(rel="stylesheet" type="text/css" href="public/css/estilos.css")
        link(rel="stylesheet" type="text/css" href="public/css/estiloscontacto.css")
        link(rel="stylesheet" type="text/css" href="public/css/estilosventanas.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
        block script
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    body
        include menu.pug        
        block content
        include ppal.pug
        include footer.pug
        block script
        script(type="text/javascript" src="public/js/jquery-3.3.1.min.js")
        script(type="text/javascript" src="public/js/menu.js")
       





