div.menu
    span
nav(id="nav" class="dark_primary_color")
    ul.main
        li
            a(href="/") HOME
        li
            a(href="/proyectos") PROYECTOS
        li
            a(href="cristales.html") CRISTALES
        li
            a(href="ventanas.html") VENTANAS
        li
            a(href="contacto.html") CONTACTO
div.overlay
