div.menu
    span
nav(id="nav" class="dark_primary_color")
    ul.main
        li
            a(href="index.html") HOME
        li
            a(href="proyectos.html") PROYECTOS
        li
            a(href="cristales.html") CRISTALES
        li
            a(href="ventanas.html") ENTANAS
        li
            a(href="contacto.html") ONTACTO
div.overlay
