div.menu
    span
nav(id="nav" class="dark_primary_color")
    ul.main
        li
            a(href="/") HOME
        li
            a(href="/proyectos") PROYECTOS
        li
            a(href="cristales.html") BLOG
div.overlay
