block content
    div.nosotros
        div.row
            div.container-fluid
                div.titulo
                    h2 NOSOTROS
                    p Un equipo de profesionales está esperando sus requerimientos para ayudarlo integralmente.
                    hr
                div.parrafo
                    p 
                        strong Divicen Ltda. se especializa en el procesamiento de vidrios entregando a nuestros clientes un producto de alta calidad. Realizamos nuestro trabajo con rapidez, seriedad y puntualidad. Disponemos de amplias oficinas comerciales con estacionamientos exclusivo para nuestros clientes.
                        br
                    p(style="padding-bottom: 70px;") Nuestros productos van desde una completa línea de fabricación de termo paneles, cristales y espejos como pulidos, biselados, perforados y cortados. Instalamos puertas protex, láminas jumbo, espejos belgas, espejos panorámicos, cristales laminados y cristales templado
