extends layout
block content
    div(id="myCarousel" class="carousel slide" data-ride="carousel")
        ol.carousel-indicators
            li(data-target="#myCarousel" data-slide-to="0" class="active")
            li(data-target="#myCarousel" data-slide-to="1")
        div.carousel-inner
            div.item.active
                img(class="img-responsive" src="public/img/bg-1.jpg" alt="" style="height: 800px")
                div.centered
                    div.row
                        div.container-fluid
                            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
                                img(src="public/img/logo.png" alt="" style="width: 350px; height: 92px;")
                                p.text UN MUNDO EN VIDRIOS Y CRISTALES
                                div#separar
                                    section.botones
                                        div.separar
                                            span.boton3 Cristales
                                            span.boton3 Ventanas
            div.item
                img(class="img-responsive" src="public/img/bg-2.jpg" alt="" style="height: 800px;")
                div.centered
                    div.row
                        div.container-fluid
                            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
                                img(src="public/img/logo.png" alt="" style="width: 350px; height: 92px;")
                                p.text UN MUNDO EN VIDRIOS Y CRISTALES
                                div#separar
                                    section.botones
                                        div.separar
                                            span.boton3 Cristales
                                            span.boton3 Ventanas
  	
    include mibio.pug