body { overflow-x:hidden; font-family: "Open Sans", Helvetica, Arial, sans-serif;}

/*COLORES DE LA PLANTILLA*/


.dark_primary_color{
    background-color:#000000!important;  /*NEGRO*/
}
.dark_secondary_color{
    background-color:#edfa00!important; /*AMARILLO*/
}
.light_primary_color{
    background-color: #f9f9f9!important; /*GRIS*/
}
.light_secondary_color {
    background-color: #578bb9!important;  /*AZUL*/
}
.primary_color{
    background-color:#2e2f31!important; /*negro*/
}
.secondary_color {  
    color: #f9f9f9!important; /*GRIS*/
}
.text_icons{
    color: #ffffff!important; /* BLANCO*/
}
.divider_color{
    color:#000000!important; /*NEGRO*/
}

/*MENU*/

.menu {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 21;
  right: 1%;
}
.menu span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.menu span, 
.menu span::before, 
.menu span::after {
  display: block;
  width: 26px;
  right: 0;
  height: 3px;
  background-color: #ffffff!important; 
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.menu span::before, 
.menu span::after {
  position: absolute;
  content: "";
}
.menu span::before {
  top: -9px;
  width:20px
}
.menu span::after {
  top: 9px;width: 33px;
}
.menu.clicked span {
  background-color: transparent;
}
.menu.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);    
  width: 33px;
}
.menu.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}
.menu.clicked span:before, .menu.clicked span:after {
  background-color: #ffffff;
}
.menu:hover {
  cursor: pointer;
}
#nav {
  background: #211316;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 250px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.menu.clicked {
  position: fixed;
  z-index: 99;
}

@media (min-width: 667px) {

#nav {
  padding: 120px 30px 70px 20px;
}
}
#nav ul.main {
  list-style-type: none;
}
#nav ul.main li {
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: none;
  color: #fff
}
#nav ul.main li:last-of-type {
  margin-bottom: 0px;
}
#nav ul.main li a {
  color: #ffffff;    
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#nav ul.main li a span {
  color: #b7ac7f;
}
#nav ul.main li a:hover {
  color: #edfa00!important; /*AMARILLO*/
}
#nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#nav ul.sub li {
  margin-bottom: 10px;
}
#nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}
#nav ul.sub li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
 /* font-size: 1rem;*/
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#nav ul.sub li a:hover {
  color: #edfa00!important; /*AMARILLO*/
}
.menu:hover span{
  color: #edfa00!important; /*AMARILLO*/
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #603e82;
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  opacity: 0.8;
  visibility: visible;
}
.main {
  max-width: 1000px;
  text-align: center;
} 

/*ESTILOS FOOTER*/

.pie {
  text-align: left;
}
.pie a {
  text-decoration: none;
}
.pie h3 {
  font-weight: bold;
  padding-bottom: 20px;
}
.piecenter {
  text-align: center;
}
.pieright {
  text-align: right;
}

/* ESTILOS DEL CAROUSEL */

.carousel-indicators li { 
  padding:-8px 15px; 
  border-radius: 0px; 
}
.carousel-inner img { 
  width:1500px; 
  height:200px; 
}
.centered { 
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
}
.centered h3 { 
  font-size:50px; 
  font-weight:bold; 
  text-transform:uppercase;
  color:white;
}
.centered p { 
  color:white; 
  font-size:30px; 
  text-align: center;
  font-weight: bold;
}

/*ESTILOS PROYECTOS*/
/* FULL IMAGEN */

.advanced-search {
  position: relative;
}
.advance-search-header {
  width: 100%;
  padding: 9px 0 9px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.bg-contact {
  background-image: url("../img/bgventanas.jpg");
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
.content-contact {
  position: absolute;
  bottom: 0; 
  /* background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1; 
}
.tittle-contact {
  padding: 10px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tittle-contact h2 {
  font-size:45px;
  text-align: left;
}

/*PORTAFOLIO*/

.servicios {
  margin-bottom: 50px;
}
.servicios h4 {
  padding: 15px;
}
.servicios h4 a {
  font-size: 20px;
  padding-top: 15px;
  text-decoration: none;
}
.thumbnail-img {
  -webkit-box-shadow: 2px 2px 50px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  border-radius: 7px;
}
.thumbnail-img img {
  width: 100%;
}
.back {
  margin-top:50px;
  margin-bottom:50px;
  /* background-image: url("../img/bg-6.jpg");
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center; */
} 


/* ESTILOS NOSOTROS */

.titulo {
	padding-top: 70px;
	padding-bottom: 70px;
}
.titulo hr {
	border-top: 1px solid #cacaca;
}
.titulo h2 {
	text-align: center;
}
.titulo p {
	text-align: center;
	font-size: 10px;
}
.parrafo p {
	font-size: 17px;
}
.parrafo strong {
	font-size: 17px;
}
.especialidades h4 {
	float: left;
}
.especialidades p {
    font-size: 12px;
    padding-bottom: 40px;
}